.containerBox {
  background-color: #ffffff;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-top: 24px;
  min-width: 28vw;
  max-width: 400px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

:global(body.dark) .containerBox {
  background-color: #2a2a2a;
  color: #fff;
  border: 1px solid #3a3a3a;
}

:global(body.dark) .cardContato {
  background-color: #2a2a2a;
  color: #fff;
  border: 1px solid #3a3a3a;
}

:global(body.dark) .input1 {
  color: #fff;
}
:global(body.dark) .input2 {
  color: #fff;
}

.mainWrapper {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 40px;
}

.tittle {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 16px;
  color: #1bc257;
}

.doc {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.NomeCor {
  position: relative;
  display: flex;
  gap: 10px;
  align-items: center;
}

.inputColor {
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  z-index: 2;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  padding: 0;
  background-color: none;
}

.inputColor::-webkit-color-swatch-wrapper {
  padding: 0;
  border-radius: 50%;
}

.inputColor::-webkit-color-swatch {
  border-radius: 50%;
}

.inputColor:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(5, 150, 105, 0.3);
}

.inputColor.ativo {
  opacity: 1;
  pointer-events: auto;
}

.inputColor:hover {
  transform: scale(1.03);
}

.input1:focus + .selectAnimado {
  opacity: 1;
  max-height: 200px;
  pointer-events: auto;
}

.input1,
.input2 {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #9c9c9c;
  font-size: 14px;
  resize: none;
  width: 100%;
  box-sizing: border-box;
}

.input1:focus {
  width: 86%;
  transition: width 0.4s ease, height 0.4s ease, border-color 0.3s ease;
}


.buttonPrepar,
.salvarAgenda {
  margin-top: 10px;
  padding: 10px;
  background-color: #1bc257;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  width: 100%;
}

.buttonPrepar:hover {
  transform: scale(1.03);
}

.listaContatos {
  max-height: 10rem;
  overflow-y: auto;
}

.info {
  align-items: center;
  display: flex;
}

.corPessoa {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 10px;
}

.infoNomeNumero {
  display: flex;
  flex-direction: column;
}

.acoes button {
  margin-left: 8px;
  padding: 6px 10px;

  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  cursor: pointer;
  font-size: 13px;
}

.acoes {
  display: flex;

  justify-content: center;
}
h3 {
  margin-top: 24px;
}

.AreaPessoas {
  margin-top: 10px;

  border-radius: 10px;
}

.cardContato {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 10px 0px 10px 0px;
  border: #9c9c9c 1px solid;

  border-radius: 6px;
  padding: 10px;
  background-color: #fafafa;
}

.SendButton {
  color: #30a36c;
}
.SendButton:hover {
  transform: scale(1.04);

  background-color: #30e68e93;
}

.editButton {
  color: #027fff;
}
.editButton:hover {
  transform: scale(1.04);
  background-color: rgba(0, 162, 255, 0.445);
}

.deletar {
  color: #d55a5a;
}
.deletar:hover {
  transform: scale(1.04);
  background-color: #ee45459a;
}
