* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.Container {
  background: #161717;
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
}
