.containerBox {
  height: auto;
  margin-top: 24px;
  margin-bottom: 24px;

  max-width: 500px;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;

  background-color: #fdfdfd;
  border-radius: 6px;
  overflow: hidden;

  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.tittle {
  display: flex;
  align-items: center;
  color: #1bc257;
  margin-bottom: 20px;
}

/* CSS de mudança de Tema */

:global(body.dark) .containerBox {
  background-color: #2a2a2a;
  color: #fff;
  border: 1px solid #3a3a3a;
}

:global(body.dark) .inputNumber {
  background-color: #2a2a2a;
  color: #fff;
  border: 1px solid #3a3a3a;
}

:global(body.dark) .textareaMenssage {
  background-color: #2a2a2a;
  color: #fff;
  border: 1px solid #3a3a3a;
}

:global(body.dark) .containerLinkGerado {
  background-color: #2a2a2a;
  color: #fff;
  border: 1px solid #3a3a3a;
}

:global(body.dark) .ButtonScrollBoleano {
  background-color: #2a2a2a;
  color: #fff;
  border: 1px solid #3a3a3a;
}

:global(body.dark) .linksScroll {
  background-color: #2a2a2a;
  color: #fff;
  border: 1px solid #3a3a3a;
}

:global(body.dark) p {
  color: #ffffff;
}

:global(body.dark) label {
  color: #fff;
}

:global(body.dark) .linkagem {
  background-color: #2a2a2a;
  border: 1px solid #3a3a3a;
}

:global(body.dark) .lucide {
  color: #1bc257;
}

:global(body.dark) .buttonCopy {
  color: #1bc257;
}

.doc {
  display: flex;
  flex-direction: column;
}

/* Menssagens Padrões */
.popUp {
  border: 1px solid #9c9c9c;
  border-radius: 8px;

  left: 100%;
  margin-bottom: 20px;
  padding: 10px;

  scrollbar-width: none;
  max-height: 20vh;
  overflow-y: scroll;
}

.DefaultMensage {
  border-radius: 6px;
  border: #9c9c9c 1px solid;

  padding: 10px 0px 10px 10px;
  width: 100%;
  margin-top: 5px;
  margin-right: 5px;

  cursor: pointer;
}

.DefaultMensage:hover {
  background-color: #0596683d;
  transform: scale(1.02);
}

/* Área de formulário */

label {
  color: rgb(0, 0, 0);
  margin: 5px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.inputNumber {
  background-color: #ffffff;
  color: rgb(0, 0, 0);

  border-radius: 6px;
  border: #9c9c9c 1px solid;
  outline: none;

  padding: 10px;
  margin-bottom: 10px;
}

.inputNumber:focus {
  background-color: #66ffcf5b;
}

.textareaMenssage {
  border: #9c9c9c 1px solid;
  border-radius: 6px;
  background-color: #ffffff;
  color: black;
  padding: 10px;
  margin-bottom: 20px;

  width: auto;
  min-height: 14vh;
  max-height: 17vh;
}

.textareaMenssage:focus {
  background-color: #66ffcf5b;
}

.buttonPrepar {
  height: 40px;
  margin-bottom: 20px;

  border: none;
  border-radius: 5px;

  color: aliceblue;
  background-color: #1bc257;

  cursor: pointer;
}

.buttonPrepar:hover {
  transform: scale(1.03);
}

/*   Área de Geração de Link   */

.containerLinkGerado {
  border-radius: 6px;
  background-color: #f7f6f9;
  border: #9c9c9c 1px solid;
  padding: 15px 15px 15px 15px;
}

.linkagem {
  border-radius: 6px;
  border: #9c9c9c 1px solid;
  background-color: #fafafa;
  display: flex;
  justify-content: space-between;

  padding: 10px 0px 10px 10px;
  width: 100%;
  margin-top: 5px;
  margin-right: 5%;
}

.linksScroll {
  max-height: 150px;
  overflow-y: scroll;

  border: #ddd 1px solid;
  border-radius: 6px;
  padding: 8px;

  border-radius: 12px 12px 12px 0;
  padding: 10px;
  transition: max-height 0.3s ease;
  background: #fff;
}

/* Links Gerados */
.newLink {
  display: flex;
}

.goWhatsapp {
  height: 40px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;

  border: none;
  border-radius: 5px;

  color: aliceblue;
  background-color: #1bc257;

  cursor: pointer;
}

.goWhatsapp:hover {
  transform: scale(1.03);
}

.buttonCopy {
  margin-right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.buttonCopy:hover {
  transform: scale(1.03);
}

.expandido {
  max-height: none;
  overflow-y: visible;
}

.compacto {
  max-height: 150px;
  overflow-y: auto;
}

.ButtonScrollBoleano {
  width: 7rem;
  border: 1px solid #ddd;
  border-top: none;
  border-radius: 0 0 12px 12px;
  background: #f9f9f9;
  cursor: pointer;

  padding: 6px;
  font-size: 14px;
  text-align: center;
  transition: background 0.2s;
}

.ButtonScrollBoleano:hover {
  background: #eee;
}
