.containerBox {
  position: relative;
  height: auto;
  width: 26%;
  padding: 20px;

  border: 4px solid #059669;
  background-color: #161717;
  border-radius: 5px;
  overflow: hidden;
  z-index: 1;
}

.tittle {
  color: aliceblue;
  margin-bottom: 20px;


}

.doc {
  display: flex;
  flex-direction: column;
}

/* Área de formulário */

label {
  color: aliceblue;
  margin: 5px;
}

.inputNumber {
  background-color: #242626;
  color: aliceblue;

  border-radius: 5px;
  border: none;
  outline: none;

  padding: 10px;
  margin-bottom: 20px;
}

.inputNumber:focus {
  background-color: #66ffcf5b;
}

.textareaMenssage{
  border:none;
  border-radius: 5px;
  background-color: #242626;
  color: aliceblue;
  padding: 10px;

  height: 17vh;
  width: auto;
  min-height: 17vh;
  max-height: 10vh;
  margin-bottom: 20px;
}

.textareaMensage:focus {
  background-color: #66ffcf5b;
}

.buttonPrepar{
  height: 30px;
  margin-bottom:20px; 

  border: none;
  border-radius: 5px;
    
  color: aliceblue;
  background-color: #059669;
}

.logoText{
  color:aliceblue
}

.containerLinkGerado{
  border-radius: 10px;
  background-color: #242626;
}