.PositionText {
  display: flex;
  justify-content: center;
  background-color: #f7f6f9;
  padding-top: 40px;

  width: 100vw;
}

.Tittle {
  color: #1bc257;
}

.SimpleText {
  text-align: center;
}

.SubTittle {
  color: #666666;
}

:global(body.dark) .PositionText {
  background-color: #0b0b0e;
}
